header {
	position: relative;
	width: 100%;
	background: url('../Image/header/tissus.jpg') center / cover no-repeat;
	height: 100vh;
}

.grille {
	margin: 0 auto;
	padding: 0 15px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	row-gap: 80px;
}



.image img {
	width: 250px;
	height: 250px;
	display: block;
}

.container p {
	margin-bottom: 30px;
}

.container {
	background-color: #F0DDC9;
	padding: 20px;
	margin: 40px auto 80px;
	max-width: 900px;
	text-align: center;
	border-radius: 10px;
}

.contenu {
	padding: 12px;
}

h3 {
	text-align: center;
	font-size: 2em;
	margin: 30px 0 ;
	color: #51816a;
	font-family: "Pompiere", serif;
    font-weight: 700;
	font-style: italic;
}

.container p {
	margin-bottom: 30px;
	color: #555;
}

.contenu h4 {
	font-weight: 600;
	font-size: 1.5rem;
	font-family: "Pompiere", serif;
	text-align: center;
	color: #51816a;
}

.bu-container {
	padding: 20px 30px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #51816a;
    cursor: pointer;
    color: white;
    border: none;
}

main {
	margin-bottom: 100px;
}

.carte:hover {
	transform: translateY(-5px);
	cursor: pointer;
}

.carte.selectionnee {
	box-shadow: 0 0 15px #00ff0d;
	border: 3px solid #51816a;
}

.container label {
	color: #51816a;
}


select  {
    padding: 10px 15px;
    text-align: center;
}


@media (min-width: 640px) {
	.grille {
	  grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 960px) {
	.grille {

		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1400px) {
	.grille {
		max-width: 1800px;
		grid-template-columns: repeat(4, 1fr);
	}
}