<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mention légales</title>
</head>
<body>

	<h1>Mentions légales</h1>

<p><strong>Nom du site :</strong> Les Petites Bulles</p>
<p><strong>Propriétaire :</strong> L'atelier des petites bulles</p>
<p><strong>Responsable de publication :</strong> Marilyn Fischer– <a href="mailto:contact@latelierdespetitesbulles.fr">contact@latelierdespetitesbulles.fr</a></p>


    <h2>Hébergement</h2>
    <p>
        Ce site est hébergé par :<br>
        o2switch<br>
        222-224 Boulevard Gustave Flaubert<br>
        63000 Clermont-Ferrand<br>
        France<br>
        Téléphone : 04 44 44 60 40<br>
        Site : <a href="https://www.o2switch.fr/" target="_blank">www.o2switch.fr</a>
    </p>

<p><strong>Développement du site :</strong><br>
Site conçu et développé par Scuglia Adrien </p>
<p><a href="https://www.linkedin.com/in/adrien-scuglia-80320b312/recent-activity/all/" target="_blank">Page linkedin</a></p>

<p><strong>Propriété intellectuelle :</strong><br>
Tous les contenus présents sur ce site (textes, images, logos, etc.) sont la propriété exclusive de Les Petites Bulles, sauf mention contraire. Toute reproduction, représentation, diffusion ou utilisation, même partielle, sans autorisation est interdite.</p>

<p><strong>Responsabilité :</strong><br>
Les informations fournies sur ce site sont données à titre indicatif. Les Petites Bulles ne saurait être tenue responsable d’une mauvaise utilisation des informations ou du site.</p>
</body>
</html>


